python-telegram-bot[job-queue]==22.5
motor>=3.7.1
flask>=3.1.0
python-dotenv>=1.0.0
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
